.Menu {
  &__popup {
    background-color: var(--background);
    border: 1px solid var(--border-subtle);
    border-radius: 0;
    box-shadow: var(--shadow-lg);
    padding: var(--spacing-xs);
    min-width: 180px;
    max-height: min(60vh, 22rem);
    overflow-y: auto;
    outline: none;

    transition:
      opacity var(--transition-fast),
      scale var(--transition-fast),
      filter var(--transition-fast);

    transform-origin: var(--transform-origin);

    &[data-ending-style],
    &[data-starting-style] {
      opacity: 0;
      scale: 0.95;
      filter: blur(2px);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-xs);
    cursor: pointer;
    box-sizing: border-box;

    // only first and last get border radius, respectively on top and bottom
    &:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:hover:not(:disabled) {
      background-color: var(--surface);
    }
    &[data-highlighted] {
      background-color: var(--surface);
      outline: none;
    }

    &[aria-checked="true"] {
      background-color: var(--surface);
    }
  }

  &__itemIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    color: var(--text-subtle);

    svg {
      font-size: 16px;
    }
  }

  &__itemLabel {
    flex: 1;
    min-width: 0;
  }

  &__itemIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-left: auto;

    svg {
      font-size: 16px;
    }
  }

  &__groupLabel {
    text-transform: uppercase;
    color: var(--text-subtle);
    padding: var(--spacing-xs) var(--spacing-xs);
  }

  &__separator {
    height: 1px;
    background-color: var(--border-subtle);
    margin: var(--spacing-xs) 0;
  }
}
