.Tooltip {
  &__popup {
    background-color: var(--component);
    border: 1px solid var(--border-subtle);
    border-radius: 0;
    box-shadow: var(--shadow-xl);
    padding: var(--spacing-xs);
    max-width: 18rem;
    outline: none;
    z-index: 100;
    pointer-events: none;

    transition:
      opacity var(--transition-fast),
      scale var(--transition-fast),
      filter var(--transition-fast);

    transform-origin: var(--transform-origin);

    &[data-ending-style],
    &[data-starting-style] {
      opacity: 0;
      scale: 0.95;
      filter: blur(2px);
    }
  }

  &__arrow {
    fill: var(--component);
    stroke: var(--border-subtle);
    stroke-width: 1px;
  }
}
